


$COLOR_BACKGROUND:#222628FF;
$COLOR_BACKGROUND_LIGHTER: #363A3CFF;
$COLOR_BACKGROUND_LIGHTER_2: #303236FF;
$COLOR_BACKGROUND_LIGHTER_HOVER: #404246FF;
$COLOR_OUTLINE: #677078FF;
$COLOR_OUTLINE_LIGHTER: #879098FF;
$COLOR_OUTLINE_DARKER: #475058FF;
$COLOR_INTERACTIVE: #01ADEEFF;
$COLOR_INTERACTIVE_DARKER: #264B9AFF;
$LIGHT_TEXT: #FFFFFF;
$OFF_LIGHT_TEXT: #E5E5E5FF;
$HEADER_COLOR: #303032FF;
$HEADER_COLOR_LIGHTER: #3A3A3CFF;

$FONT_GENERAL_UI_FAMILY: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$FONT_GENERAL_UI: 20px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$FONT_FORGOT_PASSWORD: 12px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$FONT_ERROR: 12px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;