


$COLOR_BACKGROUND:#222628FF;
$COLOR_BACKGROUND_LIGHTER_HOVER: #404246FF;
$COLOR_OUTLINE: #677078FF;
$COLOR_INTERACTIVE: #01ADEEFF;
$COLOR_INTERACTIVE_DARKER: #264B9AFF;
$LIGHT_TEXT: #FFFFFF;
$OFF_LIGHT_TEXT: #E5E5E5FF;



$FONT_GENERAL_UI: 20px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;