@import "./color.pallet/color.pallet.scss";

::-webkit-scrollbar{
    width:5px;
    height:5px;
}

::-webkit-scrollbar-track{
    background-color: $COLOR_SURFACE_02dp;
}

::-webkit-scrollbar-thumb{
    background-color: rgba($ON_SURFACE, $EMPHASIS_FILLED_DISABLED);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgba($ON_SURFACE, $EMPHASIS_FILLED_DISABLED + 10%);
}