
$COLOR_ALMOST_BLACK:#121212;
$COLOR_PRIMARY: #66e1ff;
$COLOR_PRIMARY_DARK: #0080bb;
$COLOR_PRIMARY_VARIANT: $COLOR_PRIMARY_DARK;
$COLOR_SECONDARY: #ee01af;
$WHITE: #FFFFFF;
$COLOR_ERROR: #CF6679;

/* text colors */

$ON_PRIMARY: #000000;
$ON_SECONDARY: #000000;
$ON_BACKGROUND: #FFFFFF;
$ON_SURFACE: #FFFFFF;
$ON_ERROR: #000000;

/* surface colors */

$COLOR_BACKGROUND: mix($COLOR_PRIMARY, $COLOR_ALMOST_BLACK, 2%);
$COLOR_BACKGROUND_INVERSE: mix($COLOR_PRIMARY, $WHITE, 2%);
//$COLOR_BACKGROUND: $COLOR_ALMOST_BLACK;

$COLOR_SURFACE_00dp: $COLOR_BACKGROUND;
$COLOR_SURFACE_01dp: mix($WHITE, $COLOR_BACKGROUND, 5%);
$COLOR_SURFACE_02dp: mix($WHITE, $COLOR_BACKGROUND, 7%);
$COLOR_SURFACE_03dp: mix($WHITE, $COLOR_BACKGROUND, 8%);
$COLOR_SURFACE_04dp: mix($WHITE, $COLOR_BACKGROUND, 9%);
$COLOR_SURFACE_06dp: mix($WHITE, $COLOR_BACKGROUND, 11%);
$COLOR_SURFACE_08dp: mix($WHITE, $COLOR_BACKGROUND, 12%);
$COLOR_SURFACE_12dp: mix($WHITE, $COLOR_BACKGROUND, 14%);
$COLOR_SURFACE_16dp: mix($WHITE, $COLOR_BACKGROUND, 15%);
$COLOR_SURFACE_24dp: mix($WHITE, $COLOR_BACKGROUND, 16%);

