@import "../color.pallet/color.pallet.scss";



.contact {
    position:relative;
    margin:1px;
    width:50px;
    height:50px;   
    border-radius: 5px;
    background-color: $COLOR_SURFACE_02dp;
    font: $FONT_GENERAL_UI;
}

.contact:hover{
    background-color: $COLOR_SURFACE_04dp;
    cursor: pointer;
}

.profile{
    position: absolute;
    height:40px;
    width: 40px;
    border-radius: 22px;
    left: 5px;
    top:5px;
}

#contactList{
    margin-top:5px;
    margin-left: 5px;
    margin-right: 5px;
    position: absolute;
    display:flex;
    left:0px;
    top:0px;
    height: 100%;
    background-color: $COLOR_SURFACE_02dp;
}

.unread{
    border: 2px inset $COLOR_SECONDARY;
    top: 3px !important;
    left: 3px !important;
}

#addContact{
    overflow: hidden;
    transition: width 500ms;
    color: rgba($ON_SURFACE, $EMPHASIS_MEDIUM);
}

#addContact:hover{
    cursor: default;
    color: rgba($ON_SURFACE, $EMPHASIS_HIGH);
}

#addContactSymbol{
    transition: transform 500ms;
    top: -14px;
    left: 8px;
    position: absolute;
    font-size: 50px;
    cursor: pointer;
}

#addUserInput{
    padding-left: 8px;
    font-size: 15px;
    position: absolute;
    transition: width 400ms;
    transition-delay: 100ms;
    width: 0px;
    left: 50px;
    background-color: $COLOR_SURFACE_06dp;
    color: rgba($ON_SURFACE, $EMPHASIS_HIGH);
    border: none;
    border-radius: 8px;
    outline: none !important;
    height: 30px;
    top: 10px;
}

#addContact.adding{
    width: 200px;

    & #addContactSymbol{
        transform: rotate(45deg);
    }

    & #addUserInput{
       width: 130px;
    }
}

